
*{
    font-family: Cambria, Georgia, "Times New Roman", Times, serif;

}
body {
    background-color: #e9eff1;
    background-color:#a6192e;
    margin: 0;
}
  
#backdrop{
    margin: 5%;
    margin-top: 0;
    width: 60vw; min-width: 1000px;
    height: 80vh;
    background-color: white;
    align-items: center;
    justify-content: center;
    border-top: 20px solid rgb(53, 39, 39);
    border-bottom: 30px solid rgb(53, 39, 39);
    box-shadow: 0.1px 0.1px 5px #000000;
    /* overflow:auto; */
}
#main-window{
    margin-top: 2%;
    margin-left: 2%;
    width: 80%;
    height: auto; max-height: 400px;
    padding-bottom: 100px;
    background-color: #e9eff1;
    border: 1px solid #d2e1e6;
    border-radius: 5px;
}

#title{
    font-size: 30px;
    /* font-weight: 600; */
    margin-top: 10vh;
    margin-left: 2%;
    margin-bottom: 0%;
    font-family: Arial, Helvetica, sans-serif;
}

#Activities{
    color: #c01c34;
    margin-left: 2%;
}

#give-grades{
    margin-left: 2%;
}

#table-head{
    /* background-color: #e6d2d3; */
    margin: 0px; padding: 0px;
}

#table-container{
    height: 220px;
    overflow: auto;
    margin-bottom: 4%;
}

#table {
    width: 98%;
    height: auto; max-height: 100px;
    border: 1px solid rgb(192, 192, 192);
    border-collapse:collapse;
    padding:5px;
    /* margin-left: 2%; */
    margin: auto;
    text-align: left;
}
#table th {
    border: 1px solid rgb(192, 192, 192);
    padding:5px;
    background:#e4e4e4;
    width: 9vw;
}
#table td {
    border: 1px solid rgb(192, 192, 192);
    padding:5px;
}
input{
    /* width: 50px;
    height: 30px; */
    margin-top: 3%;
    margin-bottom: 0px;
    margin-left: 2%;
    margin: 3% 0px 0 2%;
    width: 25%;
    height: 25px;
}
.divisor{
    all: unset;
}
#add-activity{
    all: unset;
    background-color: #c01c34;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-left: 1%;
}
#add-activity:active{
    background-color: #a7192e;
}
#result{
    all: unset;
    color: #c01c34;
    font-size: large;
    font-weight: bold;
    margin-left: 1%;
    margin-top: 2%;
}
#add-activity , #result {
    display:flex; flex-direction: column;
}

#bottom-section{
    display: flex;
    flex-direction: row;
    margin: auto;
    align-content: right;
}

#bottom-left{
    flex:1;
    margin-left: 1%;
    overflow: auto;
}

#bottom-right{
    flex:1;
    align-content: right;
    align-items: right;
    text-align: right;
}

#weighted, #mean{
    all: unset;
    background-color: #c01c34;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-right: 1%;
}
#weighted:active, #mean:active{
    background-color: #a7192e;
}
